*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 3.5px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.8;
    color: #FFF;
    box-sizing: border-box;
    font-size: 1.6rem;
}


.heading-primary {
    font-size: 4.7rem;
    font-weight: 300;
}

.heading-primary--main {
    display: block;
    line-height: 0;
}

.heading-primary .heading-primary--main b {
    font-weight: 900;
    color: #f45053;
}

.heading-primary--sub {
    display: block;
}

.heading-secondary--main {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #422736;
}

.heading-secondary--sub {
    font-size: 2.3rem;
    font-weight: 500;
    margin-bottom: 8rem;
    color: #422736;
}

.btn--blue {
    background-color: #69B2A9;
    color: #fff;
	border-radius:10rem;
	width:200px;
	height:50px;
	font-size:2.5rem;
}

.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    margin: 5rem 0rem;
    font-size: 5rem;
}

.btn--round {
    border-radius: 15px;
	height:300px;
	width:350px;
	word-wrap: break-word;
}

@media (max-width: 500px) {
    .btn--round {
		margin:0;
	} 
}
		
.btn--pink {
    color: white;
    background-color: #F38181;
}

.btn--pink h2 {
	font-size:6rem;
}
.btn--pink p {
	font-size:2.5rem;
}

.btn--pink:hover {
    background-color: #E85152;
}

.btn--blue {
    background-color: #69B2A9;
    color: #fff;
	border-radius:10rem;
	width:200px;
	height:50px;
	font-size:2.5rem;
}

.btn-text {
    text-decoration: none;
    color: #a4e4dc;
}

.btn-text:hover,
.btn-text:active {
    text-decoration: underline;
}

.top-footer {
    background-color: #ebf5f6;
    color: #8F6A7E;
    padding: 6rem 0rem;
}

.top-footer__header {
    color: #69B2A9;
    padding: 3rem 0rem 1rem 0rem;
    margin: 0rem;
}

.top-footer__infor {
    color: #8F6A7E;
    padding: 1rem 15vw 6rem 15vw;
    margin: 0rem;
    font-weight: 400;
    font-size: 2.3rem;
}

.top-footer__form {
    position: relative;
    height: 85rem;
}

.top-footer__input {
    outline: none;
    border-radius: 5px;
    line-height: 1.6;
    border: solid 1px black;
    color: rgba(203, 206, 217, 0.7);
    background-color: #B9E1DC;
    width: 50vw;
    padding: 0rem 3rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.top-footer__input::placeholder {
    font-size: 2.5rem;
}

#fn {
    top: 0rem;
}

#ln {
    top: 8rem;
}

#company {
    top: 16rem;
}

#country {
    top: 24rem;
}

#email {
    top: 32rem;
}

#budget {
    top: 40rem;
}

#phone {
    top: 48rem;
}

.top-footer__checkboxes {
    font-weight: 400;
    position: absolute;
    top: 60rem;
    left: 23vw;
}

.top-footer__checkboxes--title {
    color: #8F6A7E;
    margin: 0rem 0rem 3rem 0rem;
    font-weight: 400;
    font-size: 2.3rem;
}

.checkbox {
    position: relative;
}

.checkbox input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    left: 0rem;
    width: 5rem;
    height: 5rem;
    z-index: 1;
}

.checkbox__box {
    position: absolute;
    left: 0rem;
    width: 5rem;
    height: 5rem;
    background-color: #B9E1DC;
    border-radius: 5px;
    border: solid 1px black;
}

.checkbox input ~ .checkbox__box:hover {
    background-color: #69B2A9;
}

.checkbox input:checked ~ .checkbox__box {}

.checkbox__box:after {
    content: "";
    position: absolute;
    display: none;
    left: 1.5rem;
    top: .5rem;
    width: 1.5rem;
    height: 3rem;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox input:checked ~ .checkbox__box:after {
    display: block;
}

.checkbox .checkbox__box:after {}

.checkbox__label {
    position: absolute;
    left: 6.0rem;
    font-size: 2.3rem;
    text-align: left;
}

.sponsored {
    top: 0rem;
}

.app {
    top: 10rem;
}

.bot-footer {
    background-color: #422736;
}

.bot-footer__nav {
    display: inline-block;
}

.bot-footer__nav li {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    margin: 2rem 4rem;
    color: #B9E1DC;
}

.bot-footer li:hover {
    border-bottom: solid 2px #B9E1DC;
}

/*form section*/
.office-content{
    overflow: hidden;
    border-radius: 10px;
    background: #b3dfde;
    text-align: center;
    padding: 40px 20px;
    color: #452b38;
    height: 210px;
    font-size: 1.4rem;
  }
.office-content.no-padding{
    padding: 0;
  }
.office-content .address{
    display: block;
    font-style: normal;
    text-align: left;
    padding: 0 0 0 30px;
    position: relative;
    margin: 3px 50px;
  }

.office-content .address   .address-ico{
    position: absolute;
    top: 3px;
    left: 0;
  }
.address-ico{
    float: left;
    width: 15px;
    height: auto;
  }
.office-content a{
    color: #452b38;
    text-decoration: none;
  }
.block-line{
    display: block;
    padding: 1rem 0;
  }
.office-content h3{
    font-weight: 700;
    font-size: 1.6rem;
    margin: 0 0 1rem;
    color: #452b38;
  }
  
.social-links{
   margin: 0;
   padding:0;
   list-style: none;
   overflow: hidden;
 } 
 
.social-links li{
   display: inline-block;
   vertical-align: middle;
   width: 27px;
   border-radius: 100%;
   overflow: hidden;
 }
 
.social-links li img{
   max-width: 100%;
   height: auto;
   display: block;
   border-radius: 100%;
 }
.social-links li a{
   display: block;
 }
.social-links li a:hover{
   opacity: 0.5;
 }
 
 .map-responsive{
  overflow:hidden;
  position:relative;
  height:100%;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.form-field.input-error{
  border-color: red;
}
.form-field{
  overflow: hidden;
  border: 2px solid #54b0ab;
  border-radius: 5px;
  background: #ebf5f6;
  width: 100%;
  padding: 9px 17px;
  margin: 0 0 20px;
  outline: none;
  font-size: 1.4rem;  
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease; 
}
textarea.form-field{
  height: 147px;
}
.form-field:focus{
  outline: none;
  background: rgba(84,176,171,0.1);
}
.btn-submit{
  background-color: #69B2A9;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 3px;
  text-decoration: none;
  display: block;
  width: 250px;
  padding: 5px 10px;
  margin: 15px 0;
  border: none;
  height: 50px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}
.btn-submit:hover{
  background: #F38181;
}

@media only screen and (min-width: 600px) {
    html {
        font-size: 8px;
    }
	
}

@media only screen and (min-width: 1024px) {
    html {
        font-size: 7.6px;
    }
    
    .top-footer__infor {
        padding: 1rem 20vw 6rem 20vw;
    }
    .top-footer__form {
        position: relative;
        height: 50rem;
    }
    .top-footer__input {
        width: 25vw;
        left: none;
        transform: translate(0);
    }
    .top-footer__input::placeholder {
        font-size: 1.6rem;
    }
    #fn {
        left: 23vw;
    }
    #ln {
        top: 0;
        left: 52%;
    }
    #company {
        top: 6rem;
        left: 23vw;
    }
    #country {
        top: 6rem;
        left: 52%;
    }
    #email {
        top: 12rem;
        left: 23vw;
    }
    #budget {
        top: 12rem;
        left: 52%;
    }
    #phone {
        top: 18rem;
        left: 23vw;
    }
    .top-footer__checkboxes {
        font-weight: 400;
        position: absolute;
        top: 28rem;
        left: 23vw;
    }	
}

@media only screen and (min-width: 1440px) {
    html {
        font-size: 9px;
    }
    .heading-tertiary {
        font-size: 2.3rem;
    }
    .content {
        font-size: 1.9rem;
    }
    .video__title {
        font-size: 1.7rem;
    }
}

.top-footer__media a {
  color: #8F6A7E;
  display: inline-block;
  margin: 0 1rem 3rem 1rem;
  font-size: 3rem;
}

@media only screen and (min-width: 1800px) {
    html {
        font-size: 11px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveToRight {
    from {
        transform: translateX(-5rem);
        opacity: .4
    }
    to {
        transform: translateX(0rem);
        opacity: 1
    }
}


@media (max-width: 719px) {

.office-content{
    min-height: inherit;
    margin: 10px 0;
    font-size: 3.5rem;
  }
.office-content h3{
    font-size: 5.1rem;
    margin-bottom:20px;
  }
.heading-secondary--main{
    font-size: 7.5rems;
  }
.top-footer__infor{
    font-size: 4.3rem;
  }
.form-field{
    font-size: 3.4rem;
  }
.btn--blue{
    font-size: 3.8rem;
  }
.bot-footer__nav li{
    font-size: 2.8rem;
  }
  
}
	





