.join_team_wrapper p {
    margin: 0;
    line-height: unset;
    font-size: 16px;
    max-width: 250px;
    text-align: center;
    line-height: 21px;
    font-weight: unset;
    color: white;
}
.join_team_wrapper h2 {
    margin: 0;
    font-size: 40px;
    max-width: 250px;
    line-height: 42px;
    margin-bottom: 18px;
    font-weight: 500;
    color: white;
}
.join_team_wrapper {
    text-align: center;
    padding: 220px 15px;
    background: url(./../Materials/join.jpg);
    background-position: 100% 50%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.join_team_content {
    text-decoration: none;
    background: #F38181;
    border-radius: 10px;
    padding: 35px 25px 25px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.35);
    transition: all cubic-bezier(0, 0, 0, 1.29) .2s;
}
.join_team_content:hover{
    transform: translate(-5px,-5px);
    background: #f77474;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 450px){
    .join_team_content {
        padding: 55px 65px 35px;
    }
    .join_team_wrapper h2{
        font-size: 50px;
        line-height: 53px;
        margin-bottom: 25px;
    }
    .join_team_wrapper p{
        font-size: 19px;
    }
}